* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    /* background: linear-gradient(to right, transparent, rgb(94, 110, 253)); */
    background: radial-gradient(rgb(135, 223, 215), blue);
}
.text-card {
    position: absolute;
    top: 25%;
    /* border: 1px solid red; */
}

h1 {
    font-size: 3rem;
    text-align: center;
}
h2 {
    font-size: 1.5rem;
    text-align: center;
}

.input-f {
    /* border: 1px solid red; */
    /* position: relative; */
    /* border: 1px solid red; */
    /* position: absolute; */
    /* border: 1px solid red; */
    width: 45%;
    height: 8%;
    display: flex;
    justify-content: space-around;
}

.input-f .text {
    border: 1px solid rgb(245, 245, 245);
    border-radius: 15px 15px;
    width: 80%;
    padding: 10px;
    font-size: 1.25rem;
    background-color: transparent;
    /* border: none;
    border-radius: 15px;
    padding: 15px;
    background-color: #e8e8e8;
    box-shadow: 6px 6px 12px #ffffff, -6px -6px 12px #c5c5c5;
    font-size: medium;
    font-weight: bold; */
    background: #e8e8e80e;
    box-shadow: 20px 20px 60px #c5c5c51e, -20px -20px 60px #00000042;
    transition: 0.3s;
}
.input-f .text:focus {
    outline-color: #e8e8e8;
    background: #e8e8e8;
    box-shadow: inset 20px 20px 60px #c5c5c5, inset -20px -20px 60px #ffffff;
    transition: 0.3s;
}
.input-f .submit {
    font-size: 1rem;
    border-radius: 15px 15px;
    width: 15%;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all 0.3s;
    box-shadow: 6px 6px 12px #c5c5c50a, -6px -6px 12px #ffffff0c;
}
.input-f .submit:hover {
    box-shadow: -2px -2px 6px rgba(255, 255, 255, 0.6),
        -2px -2px 4px rgba(255, 255, 255, 0.4),
        2px 2px 2px rgba(255, 255, 255, 0.05), 2px 2px 4px rgba(0, 0, 0, 0.1);
}
